.selectionBox {
    border: 5px solid black;
    height: 85px;
    width: 85px;
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
}

p {
    text-align: center;
}

.active {
    border: solid 5px gold;
}

.draftImage {
    height: 75px;
    width: 75px;
}

.green {
    color: lightseagreen;
}

.grey {
    color: lightcoral;
}

.meterBox {
    display: inline-block;
    margin-right: 5px;
}

span {
    width: 150px;
    text-align: right;
    display: inline-block;
}

i {
    width: 10px;
    margin-right: 5px;
}