<div class="teamSummaryLeft ">
    <ng-content></ng-content>
    <div class="draftBoxes">
      <div class="selectionBox"
          *ngFor="let draftBox of draftBoxes"
          #selectionBox
          (click)="teamSummaryService.selectActiveDraftBox(draftBox)"
          [ngClass]="{active: draftBox.isActive}">
        <p *ngIf="!draftBox.hero.imgURL">Select Hero</p>
        <img *ngIf="draftBox.hero.imgURL"
             class="draftImage"
             [src]="'../../assets/images/' + draftBox.hero.imgURL + '.png'">
      </div>
    </div>
    <div class="teamStats">
      <div class="meter" *ngFor="let meter of statMeters">
        <span>{{meter.name}}: </span>
        <div class="meterBox"
            *ngFor="let box of meterBoxes">
          <i *ngIf="teamStats[meter.ref] < box && teamSummaryService.mapStats[meter.ref] < box" class="fa fa-square-o"></i>
          <i *ngIf="teamStats[meter.ref] < box && teamSummaryService.mapStats[meter.ref] >= box" class="fa fa-square grey"></i>
          <i *ngIf="teamStats[meter.ref] >= box" class="fa fa-square green"></i>
        </div>
      </div>
    </div>
  </div>