<div class="teamSummaryLeft ">
    <h3>{{teamName}} Team</h3>
    <div class="draftBoxes">
      <div class="selectionBox"
          *ngFor="let draftBox of draftBoxes"
          #selectionBox
          (click)="activeDraftBoxService.selectActiveDraftBox(teamName, draftBox);this.teamSummaryService.setContext(teamName)"
          [ngClass]="{active: draftBox.isActive}">
        <p *ngIf="!draftBox.hero.imgURL">Select Hero</p>
        <img *ngIf="draftBox.hero.imgURL"
             class="draftImage"
             [src]="'../../assets/images/' + draftBox.hero.imgURL + '.png'">
      </div>
    </div>
    <div class="teamStats">
      <div class="meter" *ngFor="let meter of statMeters">
        <span>{{meter.name}}: </span>
        <div class="meterBox"
            *ngFor="let box of meterBoxes">
          <i [ngClass]="setMeterColor(meter.ref, box)"></i>
        </div>
      </div>
    </div>
  </div>