<div id="selectedHeroContainer">
  <h3 *ngIf="!selectedHero">Select a Hero</h3>
  <div *ngIf="selectedHero">
    <img [src]="'../../assets/images/' + selectedHero.imgURL + '-lrg.jpg'"
          class="selectedHero">
    <div class="heroStats">
      <p class="heroName">{{selectedHero.name}}</p>
      <p class="heroRole">{{selectedHero.role}}</p>
      <p class="stat">Global: {{selectedHero.global}}</p>
      <p class="stat">Wave Clear: {{selectedHero.waveClear}}</p>
      <p class="stat">Point Control: {{selectedHero.pointControl}}</p>
      <p class="stat">Mercenaries: {{selectedHero.mercs}}</p>
      <p class="stat">Solo Lane: {{selectedHero.solo}}</p>
    </div>
  </div>
</div>

