.selectedHero {
    height: 300px;
    top: 0;
    vertical-align: top;
}

#selectedHeroContainer{
    height: 400px;
    width: 400px;
    margin-left: 10px;
    float: left;
}

.heroStats {
    display: inline-block;
}

.heroName {
    font-size: 1.2em;
}

.heroRole {
    font-size: 1em;
}

p {
    margin-bottom: 5px;
}

.stat {
    font-size: .75em;
}