.selectionBox {
    border: 5px solid black;
    height: 85px;
    width: 85px;
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
}

p {
    text-align: center;
}

.active {
    border: solid 5px gold;
}

.draftImage {
    height: 75px;
    width: 75px;
}