.selectBattlegroundButton {
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    border: 2px solid black;
    transition: .25s;
}

.selectBattlegroundButton:hover,
.menuItem:hover {
    background-color: black;
    color: white;
}

.battlegroundContainer {
    position: relative;
    height: 300px;
}

.battlegroundImage {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
}

.battlegroundThumbnail {
    width: 100px;
    display: inline-block;
}

.battlegroundName {
    display: inline-block;
    padding-left: 20px;
    transition: .0s;
}

.battlegroundMenu {
    height: 300px;
    overflow: scroll;
}

.menuItem {
    margin-bottom: 5px;
    transition: .25s;
    position: relative;
}

.menuItem:hover {
    padding-left: 50px;
}

.nameHeadline {
    text-align: center;
}


