<div 
    class="battlegroundContainer row"
    *ngIf="!selectingBattleground"
    (mouseenter)="onBattlegroundHover()"
    (mouseleave)="onBattlegroundExit()">
    <div class="battlegroundImageContainer col-md-5"
        [style.background]="'url(../../assets/images/battlegrounds/' + battlegroundsService.selectedBattleground.imgURL + '.jpg)'"
        [style.backgroundRepeat]="'no-repeat'"
        [style.backgroundPosition]="'center center'"
        [style.backgroundSize]="'120%'"
        >
        <!--<img 
            class="battlegroundImage"
            *ngIf="battlegroundsService.selectedBattleground"
            [src]="'../../assets/images/battlegrounds/' + battlegroundsService.selectedBattleground.imgURL + '.jpg'">-->
    </div>
    <div class="col-md-7">
        <h3 class="nameHeadline"
            *ngIf="battlegroundsService.selectedBattleground">
            {{battlegroundsService.selectedBattleground.name}}</h3>
        <div>
            Battleground info
        </div>
    </div>
    <div 
        class="selectBattlegroundButton"
        *ngIf="battlegroundHover"
        (click)="onSelectBattleground(battleground)">
        Select Battleground
    </div>
</div>
<div class="battlegroundMenu row"
    *ngIf="selectingBattleground">
    <div class="menuItem col-md-12"
        *ngFor="let battleground of battlegrounds"
        (mouseenter)="onMenuItemHover(battleground)"
        (click)="onBattlegroundSelected(battleground)">
        <img [src]="'../../assets/images/battlegrounds/' + battleground.imgURL + '.jpg'"
            class="battlegroundThumbnail">
        <div class="battlegroundName">{{battleground.name}}</div>
    </div>
</div>



