<div 
    class="battlegroundContainer"
    *ngIf="!selectingBattleground"
    (mouseenter)="onBattlegroundHover()"
    (mouseleave)="onBattlegroundExit()">
    <h3 class="nameHeadline"
        *ngIf="battlegroundsService.selectedBattleground">
        {{battlegroundsService.selectedBattleground.name}}</h3>
    <img 
        class="battlegroundImage"
        *ngIf="battlegroundsService.selectedBattleground"
        [src]="'../../assets/images/battlegrounds/' + battlegroundsService.selectedBattleground.imgURL + '.jpg'">
    <div 
        class="selectBattlegroundButton"
        *ngIf="battlegroundHover"
        (click)="onSelectBattleground()">
        Select Battleground</div>
</div>
<div class="battlegroundMenu"
    *ngIf="selectingBattleground">
    <div class="menuItem"
            *ngFor="let battleground of battlegrounds"
            (click)="onBattlegroundSelected(battleground)">
        <img [src]="'../../assets/images/battlegrounds/' + battleground.imgURL + '.jpg'"
             class="battlegroundThumbnail">
        <div class="battlegroundName">{{battleground.name}}</div>
    </div>
</div>


