<div class="row heroesContainer">
    <app-selected-hero class="selecteHero col-md-3"></app-selected-hero>
    <div class="col-md-9">
        <div *ngFor="let hero of heroes"
            class="heroPortrait">
            <img [src]="'../../assets/images/' + hero.imgURL + '.png'"
                (mouseover)="onSelectNewHero(hero)">
        </div> 
    </div>
</div>

<!--<app-selected-hero></app-selected-hero>
<div *ngFor="let hero of heroes"
      class="heroPortrait">
  <img [src]="'../../assets/images/' + hero.imgURL + '.png'"
      (mouseover)="onSelectNewHero(hero)">
</div>-->

